@use "./card";
@use "./base/global";
@use "./base/mixins";
@use "./base/variables" as *;

.locationCard {
  @include mixins.flexCenter;
  flex-direction: column;

  &__city {
    font-size: 36px;
  }

  &__time {
    font-size: 96px;
  }
}